# Ansible
deployment/ansible/roles/azavea.*

*.retry

# Vagrant
.vagrant

# Data
src/data-prep/gen
src/data-prep/data

# Terraform
.terraform
*.tfplan
*.tfvars
*.tfstate
*.tfstate.backup

# macOS
.DS_Store