
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700,900);
/* Fonts */

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    overflow: hidden;
    font-family: "Roboto";
    color: #444;
}

/*Text*/
h1 {
    font-size: 1.8rem;
    font-weight: normal;
    color: #444;
}

h2 {
    font-size: 1.4rem;
    font-weight: normal;
    color: #444;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #444;
}

h4 {
    font-size: 1.0rem;
    font-weight: normal;
    color: #444;
}

.modal-body h4 {
    font-size: 0.95rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 0;
}

.title h1 {
    align-self: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    color: #444;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    color: #444;
}

.modal-body p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
    color: #444;
    margin-top: 5px;
}
/*Text*/

/* Links */
a {
    color: #3386c0;
    word-wrap: break-word;
    text-decoration: none;
}

a:hover, a:focus {
    color: #4ea0da;
    text-decoration: underline;
    outline: 0;
}

.footer a {
    color: #444;
    word-wrap: break-word;
    text-decoration: none;
}

.footer a:hover, a:focus {
    color: #444;
    text-decoration: underline;
    outline: 0;
}

.modal-footer a {
    color: #444;
    word-wrap: break-word;
    text-decoration: none;
}

.modal-footer a:hover, a:focus {
    color: #444;
    text-decoration: underline;
    outline: 0;
}
/*Links*/

/*Grid Elements*/

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas:
        "header"
        "maparea"
        "sidebar";
    height: 100%;
    background-color: #fff;
    color: #444;
}

.block {
    background-color: #f4f6f7;
    color: #444;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #d4dce0;
    border-bottom: 1px solid #888;
}

.header .logo {
}

.header .logo img {
    width: 120px;
}

.title {
    grid-area: title;
    display: none;
}

.subtitle {
    font-size: 0.7rem;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #444;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f7;
    color: #444;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    text-align: left;
    align-items: center;
    align-content: left;
    border-bottom: 1px solid #888;
    overflow-y: scroll;
}

.drawing-tools {
    display: flex;
    justify-content: space-between;
}

maparea {
    grid-area: maparea;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}

.footer {
    grid-area: footer;
    background-color: #a9b1b5;
    color: #333;
    font-size: 0.9rem;
    padding: 20px;
    border-bottom: 1px solid #888;
}

@media only screen and (min-width: 1028px)  {
    .grid {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas:
            "title    header"
            "sidebar  maparea";
    }

    .title {
        grid-area: title;
        display: flex;
        justify-content: center;
        padding: 0 1rem;
        background-color: #d4dce0;
        border-bottom: 1px solid #888;
    }
}

.sidebar .block {
    display: flex;
    justify-content: space-around;
    align-content: left;
    align-items: left;
}

.block .geocoder-container {
    padding-top: 40px;
}
/*Grid Elements*/


/*Buttons*/
.btn {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
    background-color: #3386c0;
    color: #fff;
    display: block;
    margin: 0;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color:#4ea0da;
    color: #fff;
}

.btn-blue {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    background-color: #3386c0;
    color: #fff;
    padding: 10px 20px;
    vertical-align: middle;
}

.btn-blue:hover, .btn-blue:active {
    background-color: #4ea0da;
    color: #fff;
    text-decoration: none;
}

.btn-grey {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    background-color: #75848b;
    color: #fff;
    padding: 10px 20px;
    vertical-align: middle;
}

.btn-grey:hover, .btn-grey:active {
    background-color: #85949b;
    color: #fff;
    text-decoration: none;
}

div.dt-buttons {
    display: flex;
    justify-content: center;
    float: inherit !important;
}

.dt-button.new {
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    font-size: 0.85rem;
    background-color: #f4f6f7;
    background-image: none;
    color: #4a5357;
    margin: 4px;
    padding: 5px 10px;
    border: 1.5px solid #75848b;
    border-radius: 3px;
    cursor: pointer;
}

.dt-button.new:hover, .dt-button.new:focus, .dt-button.new:active {
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    font-size: 0.85rem;
    background-color: #75848b;
    background-image: none;
    color: #fff;
    margin: 4px;
    padding: 5px 10px;
    border: 1.5px solid #75848b;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.dt-button.new:hover:not(.disabled) {
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    font-size: 0.85rem;
    background-color: #75848b;
    background-image: none;
    color: #fff;
    margin: 4px;
    padding: 5px 10px;
    border: 1.5px solid #75848b;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

/*Buttons*/

/* Data Table */
.dataTables_wrapper {
    white-space: nowrap;
    font-size: 0.85rem;
    text-align: left;
    padding-bottom: 30px;
}

.dataTables_scrollHead {
}

.dataTables_scrollBody {
}



/* Data Table */

/*Footer Table*/
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

.table-center {
    padding: 0;
    text-align: center;
}
.table-column {
    padding-left: 0.4em;
    text-align: left;
}
/*Footer Table*/

/*Modal*/
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    margin: auto;
    border: 1px solid #888;
    width: 100%;
    height: 100vh;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: #999;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 25px;
    background-color: #f4f6f7;
    max-height: 100px;
}

.modal-body {
    padding-left: 25px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #fff;
    overflow-y: scroll;
}

.modal-footer {
    padding: 20px;
    background-color: #a9b1b5;
    color: #333;
    font-size: 0.9rem;
    max-height: 50px;
}

@media only screen and (min-width: 700px)  {
    .modal {
        display: none;
        position: fixed;
        z-index: 10;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        position: relative;
        background-color: #fff;
        margin: auto;
        border: 1px solid #888;
        width: 50%;
        height: 70%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
}
/*Modal*/

/* Map */
#map {
    min-height: 500px;
}

.geocoder-container {
    display: flex;
    justify-content: center;
    position: absolute;
    align-self: center;
    width: 100%;
}

.geocoder-container > .mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder ul {
    box-shadow: none;
    border: 1px solid #999;
}

.geocoder-container > .mapboxgl-ctrl-geocoder {
    font: 15px/25px 'Roboto', Arial, sans-serif;
    position: relative;
    background-color: white;
    width: 75%;
    min-width: 50%;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #999;
}

.geocoder-container > .mapboxgl-ctrl-geocoder ul {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid #999;
    box-shadow: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 1000;
    overflow: hidden;
    font-size: 12px;
}

@media only screen and (min-width: 1028px)  {
    .geocoder-container {
        display: flex;
        justify-content: center;
        position: absolute;
        align-self: center;
        max-width: 25%;
    }

    .geocoder-container > .mapboxgl-ctrl-geocoder {
        font: 15px/25px 'Roboto', Arial, sans-serif;
        position: relative;
        background-color: white;
        width: 85%;
        min-width: 180px;
        max-width: 300px;
        z-index: 1;
        border-radius: 5px;
        border: 1px solid #999;
    }
}

.legend {
    background-color: #fff;
    border-radius: 5px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Roboto', Arial, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    font-size: 0.9rem;
    font-weight: normal;
    color: #444;
    margin: 0 0 3px;
}

.legend div span {
    border-radius: 50%;
    border: 1px solid #999;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
  font: 8px/14px 'Roboto', Arial, sans-serif;
}

@media only screen and (min-width: 1028px)  {
    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Roboto', Arial, sans-serif;
    }
}

/*Map*/
